html,
blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

.construction{
  color: #DDCA7D;
  background:#242331;
  text-align: center;
}

div{
}

.bg{
  background-image: url(../images/banner6.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.my-pic{
  margin-top: 40px;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  display:block;
  margin:0 auto;
}

#about{
  color: white;
  background: rgba(0, 0, 0, 0.55);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 10px;
  font-family: 'Oswald', sans-serif;
}

h1{
  margin-bottom: 20px;
  font-size: 40px;
  font-family: 'Comfortaa', cursive;
}

#languages{
  position: relative;
  background: #DADDD8;
  color: #393D3F;
  padding-top: 100px;
  padding-bottom: 100px;
  /*
    background: grey; /* For browsers that do not support gradients
    background: -webkit-linear-gradient(#242331, #B0413E); /* For Safari 5.1 to 6.0
    background: -o-linear-gradient(#242331, #B0413E); /* For Opera 11.1 to 12.0
    background: -moz-linear-gradient(#242331, #B0413E); /* For Firefox 3.6 to 15
    background: linear-gradient(#242331, #B0413E); /* Standard syntax
  */
}


.more-info{
  border-color: #DDCA7D;
}

#contact{
  background: #B0413E;
}
