html,
blockquote,
body,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
    margin: 0;
    padding: 0
}

#personal-nav{
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  font-size: 20px;
  color: black;
}

.construction{
  color: #DDCA7D;
  background:#242331;
  text-align: center;
}

div{
}

@media only screen and (max-width: 1400px) {
  .bg{
    background-color:black;
  }
}
.bg{
  background-image: url(../images/banner6.png);
  background-repeat: no-repeat;
  background-size: 100%;
}

.my-pic{
  margin-top:40px;
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  display:block;
  margin:0 auto;
}

#about{
  color: white;
  background: rgba(0, 0, 0, 0.55);
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
  padding: 10px;
}

.title{
  font-family: 'Comfortaa', cursive;
  color:white;
}

h1{
  margin-bottom: 20px;
  font-size: 40px;
  font-family: 'Comfortaa', cursive;
}
.experience-description{
  font-size: 20px;
}

/*Work Experience
************/
#work-experience, #languages{
  position: relative;
  background: #DADDD8;
  color: #393D3F;
  padding-top: 75px;
  padding-bottom: 75px;
}
.work{
  background-color:white;
}
.experience-info{
  font-family: 'Oswald', sans-serif;
  padding-left: 10px;
}
.list-group-item{
  background: #DADDD8;
  font-size: 20px;
}
.exp-title{
  padding-bottom: 3px;
}
.more-info{
  border-color: #DDCA7D;
}

/*Personal Experience
********************/
#personal-experience{
  padding-top: 75px;
  padding-bottom: 75px;
}

/*image overlay
**************/
.img{
  width:100%;
  height:100%;
}
.img-container{
  padding:10px;
}
.img-container:hover .img{
  opacity: 0.2;
}
.img-container:hover .middle{
  opacity:1;
}
.middle{
  font-family: 'Oswald', sans-serif;
  font-size:15px;
  transition: .5s ease;
  opacity:0;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,-50%);
}
.center-btn{
  display:block;
  margin: 0 auto;
}
/*Contact
********/
#contact{
  background: #211A1D;
  color: #ADA8B6;
  padding-top: 100px;
  padding-bottom: 75px;
}


/*Footer
*******/
.footer{
  background-color: #120309;
  padding-top: 50px;
}
